{% extends 'foodfinder/base.html' %}

{% block title %}
Бифстроганов
{% endblock %}

{% block content %}

<body>
<h1>Плов с курицей</h1>
<p>Время готовки – 1 ч. 20 мин.</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li>Рис – 200 г</li>
<li> – 2 зубчика</li>
<li>Кипяток – 2,5 ст.</li>
<li>Куриные бедра – 3 шт.</li>
<li>Лук репчатый – 1 шт.</li>
<li>Морковь – 1 шт.</li>
<li>Масло растительное</li>
<li>Барбарис – по желанию</li>
<li>Специи для курицы – 1 ч.л.</li>
<li>Соль</li>
<li>Перец черный молотый</li>
<li>Плов с курицей</li>
    </ul>
<img src="https://sun9-57.userapi.com/impg/FDe_-ZSGAl3r9fvjwzqsTkuVhu4jPn54gmx9Qg/XOkPg0BozhA.jpg?size=1000x667&quality=96&sign=2444248e639f5ec67851bf0a0cd01c06&type=album" width="400px" height="250px"
height="262px">
<h2>Способ Приготовления:</h2>
<p>Шаг 1. Поставьте сковородку на огонь. Вылейте масло. С луковиц уберите верхний слой и мелко нашинкуйте. Подрумяньте в прогретой сковородке.</p>

<p>Шаг 2. Сюда же добавьте натертую морковь. Готовьте до состояния мягкости.</p>

<p>Шаг 3. Поджаренные овощи сложите в стеклянную емкость для духовки.</p>

<p>Шаг 4. Куриные бедра обдайте под краном, обсушите бумажными салфетками. Подрумяньте на сковородке.</p>

<p>Шаг 5. Отмерьте рис для плова и специи для курицы. Рис залейте холодной водой, промойте до прозрачности воды и отправьте к овощам. Посолите и добавьте несколько зубчиков чеснока. Залейте кипятком.</p>

<p>Шаг 6. Сверху добавьте куриные бедра. Приправьте специями для курицы. Затем поместите емкость в печку. Оставьте примерно на час при температуре 180 градусов.</p>

<p>Шаг 7. Готовый ароматный плов достаньте из духовки. Блюдо готово!</p>
</body>
</html>
{% endblock %}