{% extends 'foodfinder/base.html' %}

{% block title %}
Бифстроганов
{% endblock %}

{% block content %}

<body>
<h1>Плов с курицей</h1>
Время готовки – 1 ч. 20 мин.

Ингредиенты:
Рис – 200 г
Чеснок – 2 зубчика
Кипяток – 2,5 ст.
Куриные бедра – 3 шт.
Лук репчатый – 1 шт.
Морковь – 1 шт.
Масло растительное
Барбарис – по желанию
Специи для курицы – 1 ч.л.
Соль
Перец черный молотый
Плов с курицей
Способ Приготовления:
Шаг 1. Поставьте сковородку на огонь. Вылейте масло. С луковиц уберите верхний слой и мелко нашинкуйте. Подрумяньте в прогретой сковородке.

Шаг 2. Сюда же добавьте натертую морковь. Готовьте до состояния мягкости.

Шаг 3. Поджаренные овощи сложите в стеклянную емкость для духовки.

Шаг 4. Куриные бедра обдайте под краном, обсушите бумажными салфетками. Подрумяньте на сковородке.

Шаг 5. Отмерьте рис для плова и специи для курицы. Рис залейте холодной водой, промойте до прозрачности воды и отправьте к овощам. Посолите и добавьте несколько зубчиков чеснока. Залейте кипятком.

Шаг 6. Сверху добавьте куриные бедра. Приправьте специями для курицы. Затем поместите емкость в печку. Оставьте примерно на час при температуре 180 градусов.

Шаг 7. Готовый ароматный плов достаньте из духовки. Блюдо готово!
</body>
</html>
{% endblock %}