{% extends 'foodfinder/base.html' %}

{% block title %}
Паста болоньезе с фаршем
{% endblock %}

{% block content %}

<body>
<h1>Паста болоньезе с фаршем</h1>
<p>Время готовки – 1 час 20 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
		<li> Фарш говяжий — 500 гр </li>
	<li> Лук репчатый — 650 гр </li>
	<li> Томатная паста — 200 гр </li>
	<li> Перец черный молотый </li>
	<li> Орегано </li>
	<li> Чеснок — 2 зубчика </li>
	<li> Мёд — 1 ст.л. </li>
	<li> Паприка — 1 ч.л. </li>
	<li> Вино красное — 125 мл </li>
	<li> Перец чили — 1 ч.л. </li>
	<li> Макароны (спагетти) — 1 кг </li>
	<li> Оливковое масло — 2 ст.л. </li>
	<li> Соль </li>
	<li> Масло сливочное — 2 ст.л. </li>
	<li> Базилик свежий - 1 пучок </li>
	<li> Сыр (пармезан) — 100 гр </li>
    </ul>
<img src= "https://sun9-70.userapi.com/impg/M1lsIXPj6zrIMKDbQSa_SuyIxv7M-4Z3bHDIAw/IjzkaCOvSCI.jpg?size=600x400&quality=96&sign=4b9315c2d26f276b0fc7832c170d272c&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Разогрейте масло в глубокой большой кастрюле, добавьте нарезанный кубиками лук и обжарьте его до прозрачности. Выложите фарш и жарьте до готовности, помешивая. </p>
<p> 2. Влейте вино и тушите смесь до тех пор, пока не исчезнет запах алкоголя. Всыпьте специи (соль, перец, паприку, орегано). </p>
<p> 3. Добавьте чили, мед, томатную пасту, измельченный чеснок. Когда смесь закипит, убавьте огонь. Варите, пока соус не станет однородным и густым. </p>
<p> 4. Отварите спагетти. Откиньте спагетти на дуршлаг.</p>
<p> 5. Пармезан натрите на терке. </p>
<p> 6. Выложите пасту на блюдо, полейте соусом, посыпьте тертым пармезаном и украсьте мелко порубленным базиликом. Блюдо готово! </p>
</body>
</html>
{% endblock %}