{% extends 'foodfinder/base.html' %}

{% block title %}
Цезарь с курицей
{% endblock %}

{% block content %}

<body>
<h1>Цезарь с курицей </h1>
<p>Время готовки – 30 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li>Курица (филе) — 1 шт.</li>
	<li>Помидоры — 2 шт.</li>
	<li>Сухарики — 1 стакан</li>
	<li>Салат (Aйсберг) — 1 пучок</li>
	<li>Соус «Цезарь» — по вкусу</li>
	<li>Cыр (пармезан) — 50 г</li>
	<li>Оливковое масло — 1 ч. л.</li>
	<li>Лимон — по вкусу</li>
	<li>Итальянские травы — по вкусу</li>

    </ul>
<img src="https://sun9-34.userapi.com/impg/RxRmj8QyByXkIIpb2mSMKLNXClhV9nvedBwMbw/GAoOM3YDQuE.jpg?size=870x480&quality=96&sign=27831af74da8d5aabb9edce0445c3ac8&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Промываем куриное филе, режем на кусочки средней величины, посыпаем их смесью итальянских трав, поджариваем до золотой корочки.</p>
<p>2. Промываем листья салата, протираем сухой салфеткой, рвем их на равные части, сбрызгиваем лимонным соком и поливаем оливковым маслом (0,5 чайной ложки).</p>
<p>3. Промываем помидоры и режем дольками.</p>
<p>4. Выкладываем на тарелку листья салата, курицу, добавляем сухарики, заправляем соусом «Цезарь», посыпаем тертым пармезаном и украшаем дольками помидора. Блюдо готово!</p>
</body>
</html>
{% endblock %}