{% extends 'foodfinder/base.html' %}

{% block title %}
Чахохбили с курицей и картофелем
{% endblock %}

{% block content %}

<body>
<h1>Чахохбили с курицей и картофелем </h1>
<p>Время готовки – 45 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Курица - 700-800 г </li>
	<li> Лук репчатый - 2 шт. </li>
	<li> Помидоры - 400 г </li>
	<li> Картофель - 500 г </li>
	<li> Чеснок - 3-4 зубчика </li>
	<li> Масло сливочное - 30 г </li>
	<li> Кориандр молотый - 0,5 ч.л. </li>
	<li> Хмели-сунели - 1 ч.л. </li>
	<li> Сахар - 1 ч.л. </li>
	<li> Паприка - 1 ч.л. </li>
	<li> Кинза (свежая) - 5-6 веточек </li>
	<li> Соль - по вкусу </li>
	<li> Перец черный молотый  - по вкусу </li>
    </ul>
<img src= "https://sun9-53.userapi.com/impg/YU1cVQLg2jdJs1lsjBaRBvWr2hh-RFwE1K6Ulw/jEfScbhIxY8.jpg?size=960x960&quality=96&sign=721879945eed127a312e5421f54cb7ce&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Картофель очистите, нарежьте на средние кусочки и поставьте вариться. Варите до полуготовности. </p>
<p> 2. Курицу разделайте на небольшие порционные кусочки. В сковороде растопите сливочное масло, выложите кусочки курицы и обжаривайте с двух сторон до румяности. </p>
<p> 3. Лук очистите, нарежьте тонкими перьями и добавьте к курице, обжаривайте до мягкости. </p>
<p> 4. Когда лук слегка обжарится, добавьте мелко нарезанный чеснок. Готовьте еще пару минут. </p>
<p> 5. Помидоры нарежьте мелкими кубиками, добавьте к курице. Добавьте специи, сахар. Готовьте 3-4 минуты. </p>
<p> 6. В сковороду влейте немного воды, добавьте картофель, аккуратно перемешайте, накройте сковороду крышкой и тушите на медленном огне 10-15 минут. </p>
<p> 7. Кинзу мелко нарежьте. Добавьте в блюдо и снимите с плиты. </p>
<p> 8. Оставьте сковороду под крышкой настояться еще на 10 минут. Блюдо готово! </p>
</body>
</html>
{% endblock %}