{% extends 'foodfinder/base.html' %}

{% block title %}
Карри с курицей
{% endblock %}

{% block content %}

<body>
<h1>Карри с курицей </h1>
<p>Время готовки – 40 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li>Кокосовое молоко — 400 мл</li>
	<li>Курица (филе) — 2 шт.</li>
	<li>Лук репчатый — 1 шт.</li>
	<li>Молотый красный перец — по вкусу</li>
	<li>Лайм — 1 шт.</li>
	<li>Чеснок — 4 зубчика</li>
	<li>Имбирь — 2 ч. л.</li>
	<li>Куркума — 2 ч. л.</li>
	<li>Карри — 2 ч. л.</li>

    </ul>
<img src="https://psv4.userapi.com/c240331/u637955186/docs/d10/d04af62fb44e/picture2.png?extra=ymqtummGUUXU6ME5Rb6_IDmKQDh7j6_TLkD7o0WF4MGVLLD22pI3Jqq3Zg7sgJcNz2xbrjvaYyPAKa7P1FwgoKxOap-bpN32a20g-kDjCKsZcJBhzEr7RGjK8nXbjSFGR6jD5CTpy1_h_OPlODO6vcM" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Филе режем на небольшие куски.</p>
<p>2. Нарезаем мелко лук, рубим чеснок, добавляем чуть острого перца, имбирь.</p>
<p>3. Обжариваем до румяности в оливковом масле.</p>
<p>4. Добавляем курицу, обжариваем на сильном огне 3–5 минут.</p>
<p>5. Посыпаем куркумой и карри, вливаем банку кокосового молока, выжимаем сок небольшого лайма и тушим на среднем огне около 40 минут. Блюдо готово!</p>

</body>
</html>
{% endblock %}