{% extends 'foodfinder/base.html' %}

{% block title %}
Куриный суп по-домашнему
{% endblock %}

{% block content %}

<body>
<h1>Куриный суп по-домашнему</h1>
<p>Время готовки – 1 час  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Курица (ножки) — 3 шт. </li>
	<li> Картофель — 3 шт. </li>
	<li> Морковь — 1 шт. </li>
	<li> Лук репчатый — 1 шт. </li>
	<li> Макароны (вермишель) — 30 г </li>
	<li> Зелень — 50 г </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
    </ul>
<img src= "https://sun9-43.userapi.com/impg/ETOg2hv0h9eDgyM0saO_opKvBMi_z7iig_e1IA/f90BGOS3Y0g.jpg?size=1335x1333&quality=96&sign=187ef3721ed691b0cca5be17fac23130&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Промытую курицу кладем в кастрюлю, заливаем холодной водой, ставим на сильный огонь. Когда вода закипит, убавляем огонь до минимума, солим по вкусу, кладем неочищенную мытую луковицу и закрываем крышкой на 30 минут. </p>
<p> 2. Убираем луковицу, кладем морковь, нарезанную кубиками. Через 5 минут добавляем очищенный и нарезанный картофель, пробуем на соль. Варим еще 10–15 минут. </p>
<p> 3. Затем добавляем вермишель, варим 15 минут. Добавляем специи. Через 5 минут выключаем. Даем супу настояться 10 минут. В тарелку с супом можно положить мелко нарезанную зелень. Блюдо готово! </p>
</body>
</html>
{% endblock %}