{% extends 'foodfinder/base.html' %}

{% block title %}
Салат с курицей и ананасами
{% endblock %}

{% block content %}

<body>
<h1>Салат с курицей и ананасами</h1>
<p>Время готовки – 30 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Курица (филе) — 200 г </li>
	<li> Консервированный ананас — 200 г </li>
	<li> Сыр (российский) — 70 г </li>
	<li> Чеснок — 1 зубчик </li>
	<li> Майонез — по вкусу </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
    </ul>
<img src= "https://sun9-65.userapi.com/impg/TqKKB4zr9My-dA6Xx0FPsEamQypXNhQFaPA1qQ/W92czco5OcY.jpg?size=640x500&quality=96&sign=0ff0d1a51c30d95f1204667a5986a24a&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Куриное филе отварить, нарезать небольшими кубиками или соломкой. </p>
<p> 2. С ананасов слить жидкость и также нарезать кубиками. </p>
<p> 3. Сыр натереть на мелкой или крупной терке.
<p> 4. В миску выложить курицу, ананасы и сыр. </p>
<p> 5. Чеснок пропустить через терку или мелко порубить ножом. В майонез добавить чеснок, заправить салат. </p>
<p> 6. По вкусу немного посолить и поперчить перцем. Блюдо готово!</p>
</body>
</html>
{% endblock %}