{% extends 'foodfinder/base.html' %}

{% block title %}
Картофель по-деревенски
{% endblock %}

{% block content %}

<body>
<h1>Картофель по-деревенски</h1>
<p>Время готовки – 50 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Картофель — 5 шт. </li>
	<li> Чеснок — 3 зубчика </li>
	<li> Укроп </li>
	<li> Петрушка </li>
	<li> Масло растительное — 2 ст.л. </li>
	<li> Соль </li>
	<li> Перец черный молотый </li>
    </ul>
<img src= "https://sun9-31.userapi.com/impg/kaI3vJJ39ESFw2ELGzM4oR5PNjQ2MUGJc4dcdg/upLUUGDJthA.jpg?size=2048x1024&quality=96&sign=9a7d228e5611a0a153e212fc2b9eef44&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Поставьте противень в духовку и разогрейте ее до 220 С. Картофель хорошенько промойте и высушите, нарежьте дольками. </p>
<p> 2. В кастрюле вскипятите воду. Затем опустите картофель в кастрюлю и варите 5 минут на сильном огне. </p>
<p> 3. Выложите картофель на бумажные полотенца и хорошо просушите его.</p>
<p> 4. Переложите картофель в большую миску. Добавьте чеснок, выдавленный через пресс, сушеную зелень, соль, перец и растительное масло. Хорошо перемешайте. </p>
<p> 5. Вытащите горячий противень из разогретой духовки и затем выложите картофель на него. Распределите картофель равномерно. </p>
<p> 6. Выпекайте 10 минут. Выньте противень из духовки и переверните картофель, затем поставьте противень обратно в духовку. Выпекайте 7-10 минут при 240 градусах. Блюдо готово!</p>

</body>
</html>
{% endblock %}