{% extends 'foodfinder/base.html' %}

{% block title %}
Драники
{% endblock %}

{% block content %}

<body>
<h1>Драники</h1>
<p>Время готовки – 40 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Картофель - 7 шт. </li>
	<li> Мука — 1 ст. л. </li>
	<li> Соль - по вкусу </li>
	<li> Масло сливочное — 1 ст. л. </li>
	<li> Сметана — по желанию </li>
    </ul>
<img src= "https://sun9-5.userapi.com/impg/POfGJLRAGmonk9YFi_kE3x5m94YeX3cx6JeR-Q/uRSHRt610HM.jpg?size=1200x840&quality=96&sign=6a04f3dc2d887f38324810c0e29422e7&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Картофель натереть на крупной тёрке, отжать, добавить муку, сметану, соль, перемешать. </p>
<p> 2. Выкладывать столовой ложкой на очень хорошо разогретую сковороду в растопленное масло. </p>
<p> 3. Обжаривать драники с обеих сторон до золотистой корочки.  Подавать картофельные драники горячими со сметаной. Блюдо готово! </p>

</body>
</html>
{% endblock %}