{% extends 'foodfinder/base.html' %}

{% block title %}
Сырный суп по-французски с курицей
{% endblock %}

{% block content %}

<body>
<h1>Сырный суп по-французски с курицей </h1>
<p>Время готовки – 1 час </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
		<li> Курица (филе) — 500 г </li>
	<li> Сыр плавленый — 200 г </li>
	<li> Картофель — 400 г </li>
	<li> Лук репчатый — 150 г </li>
	<li> Морковь — 180 г </li>
	<li>Масло сливочное </li>
	<li> Перец черный молотый </li>
	<li> Зелень </li>
	<li> Лавровый лист — 3 шт. </li>
	<li> Гренки </li>
	<li> Черный перец горошком </li>
    </ul>
<img src= "https://sun9-75.userapi.com/impg/czXMImVCP9ubVH6LiAnQ15UoGLw8Pe-l1l0x8g/fBXaPQEHbMc.jpg?size=1000x1000&quality=96&sign=40cd8db0d3fd1fc9c6c2234c2ed45ab5&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Залить кастрюлю и положить мясо. Как только бульон начнет кипеть, добавить 1 чайную ложку соли, пару горошков черного перца, 2–3 листика лаврового листа. Варить с момента закипания 20 минут. Затем мясо достать. </p>
<p> 2. Картофель почистить и нарезать кубиками. Лук нарезать кубиками. Морковь натереть на терке. Мясо порезать небольшими кусочками. Плавленый сыр натереть на терке или порезать кубиками. </p>
<p> 3. В кипящий бульон добавить картофель. С момента закипания варить 5–7 минут. </p>
<p> 4. В это время сделать слабую зажарку на сливочном масле. Сначала положить лук, затем морковь. Слегка посолить и поперчить. Готовую зажарку добавить в суп и варить еще 5–7 минут. </p>
<p> 5. Добавить мясо, варить 3–4 минуты, добавить плавленый сыр, хорошенько помешать и выключить огонь.Перед подачей посыпать зеленью и гренками. Блюдо готово! </p>
</body>
</html>
{% endblock %}