{% extends 'foodfinder/base.html' %}

{% block title %}
Гуляш из говядины с картофелем
{% endblock %}

{% block content %}

<body>
<h1>Гуляш из говядины с картофелем</h1>
<p>Время готовки – 1 час 30 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li>Говядина - 600 г </li>
	<li> Картофель - 500 г </li>
	<li> Перец болгарский - 250 г </li>
	<li> Морковь - 100 г </li>
	<li> Помидоры - 150 г </li>
	<li> Лук репчатый - 100 г </li>
	<li> Чеснок - 3 зубчика </li>
	<li> Перец чили - по вкусу </li>
	<li> Масло растительное - 50 мл </li>
	<li> Паприка - 2 ч. л. </li>
	<li> Молотый красный перец - по вкусу </li>
	<li> Перец черный молотый - 0,5 ч. л. </li>
	<li> Соль - по вкусу </li>
    </ul>
<img src= "https://sun9-15.userapi.com/impg/fTmCE6vwnwxxVrYSr7UIKbCUAUllSY3ICBbIJg/lhtzqzRvYXA.jpg?size=620x412&quality=96&sign=df4b47253954747b4c6765f668ed9474&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Лук очистите и нарежьте мелкими кубиками. Разогрейте сковороду с растительным маслом и выложите туда лук. </p>
<p> 2. Обжаривайте лук на среднем огне 3-4 минуты, до прозрачности. Всыпьте к луку паприку и молотый красный острый перец. Перемешайте </p>
<p> 3. Мясо промойте и обсушите бумажными полотенцами. Нарежьте крупными кусочками и выложите на сковороду к луку. Обжаривайте всё вместе на большом огне 2-3 минуты. </p>
<p> 4. Снизьте огонь до умеренного и тушите мясо с луком под крышкой около 1 часа. </p>
<p> 5. Помидоры нарежьте кубиками (желательно очистить их от кожицы). Чеснок очистите и нарежьте пластинами. Перец чили очистите от семян и нарежьте полосками. Морковь и сладкий перец очистите. Нарежьте морковь кружками, а сладкий перец - квадратиками. </p>
<p> 6. Добавьте к мясу морковь, сладкий перец, помидоры, чеснок и перец чили. Посолите и поперчите. Тушите мясо с овощами под крышкой 10-15 минут. Следите за жидкостью в процессе тушения, при необходимости подлейте воду. </p>
<p> 7. Картофель очистите, нарежьте крупными кубиками и добавьте в сковороду к мясу и овощам. Готовьте под крышкой еще около 20 минут, до мягкости картофеля. Блюдо готово!</p>

</body>
</html>
{% endblock %}