{% extends 'foodfinder/base.html' %}

{% block title %}
Греческий салат
{% endblock %}

{% block content %}

<body>
<h1>Греческий салат </h1>
<p>Время готовки – 15 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li> Курица (филе) — 200 г </li>
	<li> Петрушка — 30 г </li>
	<li> Помидоры — 2 шт. </li>
	<li> Огурцы — 1 шт. </li>
	<li> Оливковое масло — 40 мл </li>
	<li> Лук красный — 1 шт. </li>
	<li> Перец болгарский — 1 шт.</li>
	<li> Орегано </li>
	<li> Оливки — 8 шт. </li>
	<li> Сыр фета — 170 г </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
    </ul>
<img src= "https://sun59-2.userapi.com/impg/AWHgTpc8i315UMkhS5BaLzBEJPpm5KuWqpiJyA/TlXUsIXuv_E.jpg?size=1680x1120&quality=96&sign=e33d71dd91bccd98a9dd4af4012823fc&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Лук нарезать тонкими кольцами, помидоры, перец и огурцы — небольшими ломтиками. </p>
<p> 2. Петрушку измельчить, затем смешать все в салатнике. В отдельной маленькой миске взбить оливковое масло, уксус, соль и перец. </p>
<p> 3. Полить заправкой овощи, аккуратно перемешать, а сверху выложить фету, нарезанную крупными ломтиками, и оливки. Посыпать салат сушеным орегано. Блюдо готово! </p>

</body>
</html>
{% endblock %}