{% extends 'foodfinder/base.html' %}

{% block title %}
Картофельное рагу
{% endblock %}

{% block content %}

<body>
<h1>Картофельное рагу</h1>
<p>Время готовки – 50 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li> Картофель - 8-10 шт. </li>
	<li> Морковь - 2 шт. </li>
	<li> Лук репчатый - 2-3 шт. </li>
	<li> Чеснок - 5 зубчиков </li>
	<li> Томатная паста - 2 ст. л. </li>
	<li> Лавровый лист - 1 шт. </li>
	<li> Зелень (укроп, петрушка или кинза) - 2 ст. л. </li>
	<li> Соль - 1 ч. л. </li>
    </ul>
<img src= "https://sun9-29.userapi.com/impg/ejPF4CuscCrTGj62MlAXYsOkhNqPzlUAUIx9LA/nt71PIEWH8A.jpg?size=400x400&quality=96&sign=b86e4707a7b454a14bb79a6821252738&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Картофель очистить, вымыть, нарезать кубиками. </p>
<p> 2. Лук, морковь очистить, вымыть, нарезать кубиками. Чеснок очистить, мелко нарубить. Зелень вымыть, мелко нарезать. </p>
<p> 3. Подготовленные овощи сложить в кастрюлю, добавить томатную пасту. Добавить соль, немного воды. Все хорошо перемешать. На минимальном огне под крышкой тушить картофельное рагу 15-20 минут. </p>
<p> 4. За 5-10 минут до готовности рагу добавить мелко нарубленный чеснок, зелень (2/3 части) и лавровый лист. </p>
<p> 5. При подаче картофельное рагу посыпать оставшейся мелко нарезанной зеленью. Блюдо готово! </p>

</body>
</html>
{% endblock %}