{% extends 'foodfinder/base.html' %}

{% block title %}
Салат Мимоза
{% endblock %}

{% block content %}

<body>
<h1>Салат Мимоза</h1>
<p>Время готовки – 1 час </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Яйца — 4 шт. </li>
	<li> Картофель — 4 шт. </li>
	<li> Морковь — 2 шт. </li>
	<li> Лук репчатый — 1 шт. </li>
	<li> Рыбные консервы — 250 г </li>
	<li> Майонез — по вкусу </li>
    </ul>
<img src= "https://sun9-74.userapi.com/impg/pKkW3_7RaGl4XaZPELGNE3WVduyxfFfLEWQsJw/vrCDsRNtgNo.jpg?size=900x675&quality=96&sign=ce8a988627d92e2b49301e759690e728&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Яйца отварите вкрутую за 10 минут, картофель и морковь — до готовности. Отдельно натрите на мелкой или средней тёрке белки, желтки, картошку и морковь.</p>
<p> 2. Лук нарежьте небольшими кусочками и на пару минут залейте кипятком, после промойте холодной водой. Консервы разомните вилкой и удалите крупные кости. </p>
<p> 3. На дно салатника положите немного картошки. Дальше выкладывайте по очереди рыбу, лук, оставшуюся картошку, морковь и белки. Каждый слой смазывайте майонезом. Сверху посыпьте желтками. Перед подачей оставьте на пару часов в холодильнике. Блюдо готово! </p>

</body>
</html>
{% endblock %}