{% extends 'foodfinder/base.html' %}

{% block title %}
Оливье с курицей
{% endblock %}

{% block content %}

<body>
<h1>Оливье с курицей</h1>
<p>Время готовки – 1 час </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
		<li> Курица (грудка) - 1 шт. </li>
	<li> Картофель - 3-4 шт. </li>
	<li> Морковь - 1 шт. </li>
	<li> Яйца - 3 шт. </li>
	<li> Огурец - 1 шт. </li>
	<li> Огурцы маринованные - 4-5 шт. </li>
	<li> Горошек консервированный - 1 банка </li>
    <li> Майонез - 4 ст. л. </li>
    <li> Соль - по вкусу </li>
    <li> Перец черный молотый - по вкусу </li>
    <li> Петрушка, укроп — по желанию </li>
    </ul>
<img src= "https://sun9-26.userapi.com/impg/NZKUffDMT_qXQhHZdhKBeePtVZmNhzF50jwA_g/weFLnYahPN0.jpg?size=1300x864&quality=96&sign=934ea5a5a5433a38f96b17a6b3103233&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Картофель и морковь нужно отварить заранее, чтобы они успели остыть.</p>
<p> 2.  Очищаем картофель, морковь и яйца. Нарезаем их приблизительно одинаковыми кубиками. Смешиваем всё в глубокой емкости. </p>
<p> 3. Свежий огурец очищаем и нарезаем кубиками. Такими же кубиками нарезаем маринованный огурец. Добавляем к остальным ингредиентам. </p>
<p> 4. Куриную грудку отвариваем в подсоленной воде. Нарезаем кубиками. </p>
<p> 5. Добавляем горошек и перемешиваем. </p>
<p> 6. В майонез добавляем щепотку соли и перец. Непосредственно перед подачей заправляем оливье с курицей майонезом и перемешиваем. Украшаем салат  зеленью по желанию. Блюдо готово! </p>

</body>
</html>
{% endblock %}