{% extends 'foodfinder/base.html' %}

{% block title %}
Паста с соусом песто и сыром
{% endblock %}

{% block content %}

<body>
<h1>Паста с соусом песто и сыром</h1>
<p>Время готовки – 30 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Макароны (любые по желанию) — 200 гр </li>
	<li> Базилик - 1 пучок </li>
	<li> Сыр (пармезан) — 50  гр </li>
	<li> Чеснок — 1 зубчик </li>
	<li> Кедровые орехи — 1 ст.л. </li>
	<li> Оливковое масло — 4 ст.л. </li>
	<li> Соль — по вкусу </li>
    </ul>
<img src= "https://sun9-74.userapi.com/impg/RSar10LBhwP6z4XrTIH0nkVw7_0q-Pk01U61wg/Se7qX7rQkBI.jpg?size=1440x753&quality=96&sign=ef8405fab76090db07130be56335b3bc&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Поставьте на плиту кастрюлю с водой для варки макарон, доведите до кипения, посолите. Закиньте макароны, перемешайте. Варите на среднем огне по времени, написанном на упаковке. Они должны остаться чуть твердыми (аль денте). </p>
<p> 2. Пока макароны варятся, приготовьте песто. Его можно делать в блендере, измельчителе или насадкой с ножом. Базилик хорошо промойте под прохладной водой. Затем тщательно промокните его бумажным полотенцем. Оборвите листики в чашу блендера. Добавьте орехи, очищенный зубчик чеснока и немного соли. Взбейте все блендером до пастообразной массы. Влейте немного масла, еще раз взбейте. </p>
<p> 3. Натрите сыр на мелкой терке. Небольшой кусок оставьте, чтобы посыпать блюдо при подаче. </p>
<p> 4. Всыпьте натертый сыр в чашу, влейте еще немного масла. Растирайте массу до кашеобразного состояния. Густоту регулируйте количеством масла. В результате должен получиться соус с густой консистенцией. </p>
<p> 5. С макарон слейте с воду. Выложите порцию макарон в тарелку, добавьте полторы-две столовые ложки соуса. Перемешайте. Блюдо готово!</p>
</body>
</html>
{% endblock %}