{% extends 'foodfinder/base.html' %}

{% block title %}
Пицца Маргарита
{% endblock %}

{% block content %}

<body>
<h1>Пицца Маргарита </h1>
<p>Время готовки – 1 час  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
		<li> Пшеничная мука — 1.5  стак. </li>
	<li> Сухие дрожжи — 1  ч.л. </li>
	<li> Сахар — 1  ч.л. </li>
	<li> Оливковое масло — 4  ст.л. </li>
	<li> Томатная паста — 3 ст.л. </li>
	<li> Чеснок — 1  зубчик </li>
	<li> Соль — по вкусу </li>
	<li> Базилик — 6  листков </li>
	<li> Сыр (моцарелла) — 200 гр </li>
	<li> Помидоры черри — 8 шт.</li>
    </ul>
<img src= "https://sun9-43.userapi.com/impg/ETOg2hv0h9eDgyM0saO_opKvBMi_z7iig_e1IA/f90BGOS3Y0g.jpg?size=1335x1333&quality=96&sign=187ef3721ed691b0cca5be17fac23130&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Нагрейте воду до температуры 37-40 градусов. Растворите в ней сахар и добавьте дрожжи. Оставьте в теплом месте на 5-15 минут для активации дрожжей. </p>
<p> 2. Добавьте в тесто соль, 2 столовых ложки оливкового масла и хорошо размешайте до однородности. </p>
<p> 3. Добавляйте муку небольшими порциями. Тесто должно получиться мягким, нежным и слегка липнуть к рукам. </p>
<p> 4. Смажьте миску и руки растительным маслом. Сформируйте из теста шар, миску накройте пищевой пленкой или полотенцем, чтобы оно не сохло и хорошо поднималось. Оставьте в теплом месте, пока будете готовить начинку. </p>
<p> 5. Чеснок очистите и помойте, разрежьте вдоль зубчика на 2 части. В разогретой сковороде разогрейте масло. Поджарьте на среднем огне чеснок в течение 2 минут, перемешивая. </p>
<p> 6. Добавьте к чесноку томатную пасту. Постоянно помешивая, доведите до кипения, посолите по вкусу. Протушите еще 2 минуты. </p>
<p> 7. Базилик промойте, просушите и измельчите ножом. Добавьте в сковороду и перемешайте. Переложите получившийся соус в отдельную миску. </p>
<p> 8. Моцареллу нарежьте на кусочки толщиной 3-5 мм. </p>
<p> 9. Помидоры помойте и разрежьте пополам. </p>
<p> 10. Включите разогреваться духовку до 220 градусов. Разомните тесто руками в круглый пласт толщиной 3-5 мм. Края оставьте потолще, чтобы образовался бортик. Равномерно смажьте тесто соусом. Сверху распределите моцареллу и помидоры. </p>
<p> 11. Оставьте в духовке на 10-15 минут. Блюдо готово! </p>
</body>
</html>
{% endblock %}