{% extends 'foodfinder/base.html' %}

{% block title %}
Ризотто с курицей и пармезаном
{% endblock %}

{% block content %}

<body>
<h1>Ризотто с курицей и пармезаном  </h1>
<p>Время готовки – 40 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
		<li> Курица — 1 кг </li>
	<li> Сельдерей — 1 шт. </li>
	<li> Лук репчатый — 2 шт. </li>
	<li> Морковь — 1 шт. </li>
	<li> Масло сливочное — 100 г </li>
	<li> Белое сухое вино — 200 мл </li>
	<li> Рис — 200 г </li>
	<li> Сыр (пармезан) — 50 г </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
    </ul>
<img src= "https://sun9-79.userapi.com/impg/IbJCPvSG1Rg8NaeIR5QIeGkEY7pPMTu7ZWwwXQ/1LI0u3JDSyo.jpg?size=2000x1400&quality=96&sign=b0280d772199c3023eb46135707dadb9&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Куриное мясо нарежьте кубиками. Одну луковицу мелко покрошите. </p>
<p> 2. Положите куриные кости, сельдерей, морковь и целую луковицу в кастрюлю, влейте 1,5 литра воды, посолите и поперчите и доведите до кипения. Убавьте огонь и варите 30 минут. Процедите бульон, и налейте 500 мл в чистую кастрюлю. Поставьте бульон на огонь и разогрейте. </p>
<p> 3. Растопите 65 г сливочного масла в другой кастрюле, добавьте лук и курицу и готовьте на медленном огне, помешивая, 10 минут. Добавьте соль, перец и вино. Варите 12–15 минут до испарения жидкости. </p>
<p> 4. Всыпьте рис и готовьте, помешивая, 2 минуты до прозрачности. Добавьте бульон и готовьте, помешивая, пока жидкость полностью не впитается. Снова долейте бульона, продолжайте готовить, помешивая. </p>
<p> 5. Когда весь бульон впитается, уберите кастрюлю с огня и вмешайте оставшееся сливочное масло и тертый пармезан. Накройте, подождите 5–7 минут. Блюдо готово! </p>

</body>
</html>
{% endblock %}