{% extends 'foodfinder/base.html' %}

{% block title %}
Теплый салат с рукколой и говядиной
{% endblock %}

{% block content %}

<body>
<h1>Теплый салат с рукколой и говядиной</h1>
<p>Время готовки – 40 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Говядина - 300 г </li>
	<li> Руккола - 100 г </li>
	<li> Помидоры черри - 100 г </li>
	<li> Оливковое масло - 2 ст.л. </li>
	<li> Соевый соус - 2 ст.л. </li>
	<li> Чеснок - 1 зубчик </li>
	<li> Соль </li>
	<li> Кориандр - по вкусу </li>
    </ul>
<img src= "https://sun9-67.userapi.com/impg/mYvaim8l2ouDSE8hxEpdj3lSkzVQUJDgRKUkyA/2NsaPaXZbFc.jpg?size=1680x1120&quality=96&sign=15719c5c2cc1c904adf607fcefc0a12f&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Говядину нарежьте сначала тонкими пластинками, а затем - полосками. </p>
<p> 2. Замаринуйте мясо в соевом соусе и растительном масле. Добавьте чеснок и специи. Хорошенько перемешайте руками и оставьте мариноваться от 15 минут. </p>
<p> 3. Обжарьте мясо в сковороде, помешивая, не дольше 2 минут. </p>
<p> 4. На блюдо разложите вымытую рукколу и ломтики помидоров. Добавьте мясо и сок от жарки, по желанию сбрызните бальзамическим соусом. Блюдо готово! </p>
</body>
</html>
{% endblock %}