{% extends 'foodfinder/base.html' %}

{% block title %}
Шаурма домашняя с курицей
{% endblock %}

{% block content %}

<body>
<h1>Шаурма домашняя с курицей </h1>
<p>Время готовки – 20 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li>Лаваш армянский — 1 шт. </li>
	<li> Курица — 500 г </li>
	<li> Лук красный — 2 шт. </li>
	<li> Морковь по-корейски — 300 г </li>
	<li> Салат — 1 шт. </li>
	<li> Помидоры черри — 10 шт. </li>
	<li> Майонез — 150 г </li>
	<li> Кетчуп — 150 г </li>
	<li> Яйца — 2 шт. </li>
	<li> Масло растительное — 1 ст. л. </li>
    </ul>
<img src= "https://sun9-61.userapi.com/impg/ilsqJ67jbXpDrGroCmkk-u6JNisHi6Obm46igQ/NMuwlJlpUMY.jpg?size=1200x799&quality=96&sign=90b9d6833b03dd599d6a861fa994f193&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Курицу отвариваем, режем на отдельные кусочки. Обжариваем до появления небольшой корочки. </p>
<p> 2. Нарезаем лук полукольцами. Помидоры черри нарезаем на четыре части. </p>
<p> 3. Для соуса смешиваем майонез и кетчуп в одинаковых пропорциях. </p>
<p> 4. Разбиваем 2 яйца, взбалтываем венчиком, оставляем для смазки лаваша внутри и снаружи. </p>
<p> 5. Разрезаем лаваш на 6 частей. Берем небольшой кусок лаваша. Смазываем его сначала яйцом, затем соусом, добавляем лук, морковь, салат и помидоры, укладываем на середину лаваша курицу. Сворачиваем в трубочку. </p>
<p> 6. Смазываем яйцом с двух сторон и кладем на сковородку. Обжариваем с двух сторон до образования корочки. Блюдо готово! </p>
</body>
</html>
{% endblock %}