{% extends 'foodfinder/base.html' %}

{% block title %}
Рис с креветками в соусе терияки
{% endblock %}

{% block content %}

<body>
<h1>Рис с креветками в соусе терияки </h1>
<p>Время готовки – 50 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
    <li> Рис — 150 г </li>
	<li> Креветки — 150 г </li>
	<li> Соус терияки — 20 г </li>
	<li> Оливковое масло </li>

    </ul>
<img src= "https://sun9-48.userapi.com/impg/1SSVWs01ZrL9y5vxwtAjguxyAvFHCVaXPhsjJQ/c84GGui2JVE.jpg?size=1280x720&quality=96&sign=8b2c5afb3ac76d95b05477ec3ce69ad4&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Очистить креветки, порезать на одинаковые мелкие кусочки </p>
<p> 2. Выложить креветки в миску, залить их соусом терияки. Оставить немного мариноваться. </p>
<p> 3. В разогретую сковороду выложить креветки. Постоянно помешивая, готовить до однородного не прозрачного белого цвета. </p>
<p> 4. Сверху засыпать отварным рисом, постоянно помешивая, готовить еще 2–3 минуты. Блюдо готово! </p>

</body>
</html>
{% endblock %}