{% extends 'foodfinder/base.html' %}

{% block title %}
Ролл с креветками в лаваше
{% endblock %}

{% block content %}

<body>
<h1>Ролл с креветками в лаваше </h1>
<p>Время готовки – 20 минут </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
		<li> Креветки — 100 гр. </li>
	<li> Чеснок — 1 зубчик </li>
	<li> Сыр (творожный) — 4 ст. л. </li>
	<li> Салат (айсберг)  — по вкусу </li>
	<li> Помидоры— 1 шт. </li>
	<li> Огурец — 1 шт. </li>
	<li> Перец болгарский — 1 шт. </li>
	<li> Кунжут — по вкусу </li>
	<li> Соевый соус — 2 ст. л. </li>
	<li> Оливковое масло — 1 ст. л. </li>
	<li> Лаваш — 2 шт. </li>
    </ul>
<img src= "https://sun9-45.userapi.com/impg/VXnqu6dZTfZt6uPY_FQbFkBgrNcIhiCVaw7YJg/MNHeC1an2wg.jpg?size=1000x667&quality=96&sign=a0d04195656e935abccf68310f2ebe3f&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Размораживаем креветки в горячей воде, очищаем и хорошо отжимаем их руками. Обжариваем на подогретой сковородке с раздавленным зубчиком чеснока. Оставляем в сковороде остывать. </p>
<p> 2. Берем лепешку или лаваш. Кладем на нее порезанный салат айсберг, затем творожный сыр. Добавляем помидор, нарезанный ломтиками. </p>
<p> 3. Сверху можно положить зелень или смесь разных салатов. Добавьте сверху огурцы и сладкий перец. </p>
<p> 4. Сверху выкладываем креветки, посыпаем их кунжутом, немного поливаем соевым соусом и оливковым маслом. </p>
<p> 5. Свернуть роллы и обжарить на сухой сковороде. Блюдо готово! </p>
</body>
</html>
{% endblock %}