{% extends 'foodfinder/base.html' %}

{% block title %}
Паста с креветками в сливочно-чесночном соусе
{% endblock %}

{% block content %}

<body>
<h1>Паста с креветками в сливочно-чесночном соусе</h1>
<p>Время готовки – 45 минут</p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li> Макароны – 150 г </li>
	<li> Креветки – 300 г </li>
	<li> Сыр (пармезан) – 30-40 г </li>
	<li> Сливки (20%) – 180 мл </li>
	<li> Масло сливочное – 30 г </li>
	<li> Лук репчатый – 40 г (0,5 шт.) </li>
	<li> Чеснок – 2 зубчика </li>
	<li> Соль – по вкусу </li>
	<li> Перец черный молотый – по вкусу </li>
	<li> Паприка – 1 ч. ложка </li>
	<li> Петрушка – 3-4 веточки </li>

    </ul>
<img src="https://psv4.userapi.com/c236331/u637955186/docs/d54/ae052389d492/picture4.png?extra=1ULiH7JtdyQueW15rZdGcScn1QanHBw72SIKeogTnMtC9A-mdp8ga4t4quHR6TzMng-ae0RUQHF2pUykbjdBAk35SOQ9YEmobDwLlZrsv34CoxqujrZpPSSD46txVGJ7MvC0ONETDE35omSAFHgOjJU" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1.	Промываем и очищаем креветки.</p>
<p> 2.	Добавляем соль, перец и половину паприки, хорошо перемешиваем и оставляем на 10 минут. </p>
<p> 3.	Кастрюлю с водой ставим на плиту подогреваться. </p>
<p> 4.	В сковороде растапливаем половину сливочного масла и выкладываем креветки. Обжариваем по 2 минуты с каждой стороны. В это время очищаем лук, вымываем и нарезаем его мелкими кубиками. </p>
<p> 5.	Чеснок очищаем и пропускаем через пресс. </p>
<p> 6.	Обжаренные креветки выкладываем на тарелку. В сковороду выкладываем оставшееся сливочное масло и лук. Обжариваем лук 2-3 минуты. </p>
<p> 7.	Кипящую воду солим. Выкладываем спагетти и готовим согласно инструкции на упаковке. Затем отправляем спагетти в дуршлаг. </p>
<p> 8.	К луку в сковороду добавляем чеснок и обжариваем минуту. </p>
<p> 9.	Вливаем в сковороду сливки и готовим 2-3 минуты. </p>
<p> 10.	Пармезан натираем на мелкой тёрке. В сковороду добавляем половину натёртого пармезана. </p>
<p> 11.	Солим, перчим, добавляем оставшуюся паприку. Тщательно перемешиваем и прогреваем без кипения содержимое сковороды 1 минуту. Снимаем сковороду с огня. </p>
<p> 12.	Выкладываем к соусу спагетти и креветки. </p>
<p> 13.	Всё перемешиваем. Промываем и измельчаем петрушку. </p>
<p> 14.	Пасту с креветками посыпаем сыром, измельчённой петрушкой и чёрным перцем. Блюдо готово! </p>>
</body>
</html>
{% endblock %}