{% extends 'foodfinder/base.html' %}

{% block title %}
Фаршированный перец
{% endblock %}

{% block content %}

<body>
<h1>Фаршированный перец </h1>
<p>Время готовки – 1 час 20 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
	<li> Фарш — 500 г </li>
	<li> Перец  болгарский — 8 шт. </li>
	<li> Рис — 0,5 стакана </li>
	<li> Морковь — 200 г </li>
	<li> Лук репчатый — 3 головки </li>
	<li> Сметана — 100 г </li>
	<li> Томатная паста — 3 ст. л. </li>
	<li> Соль — по вкусу </li>
	<li> Масло растительное — 2 ст. л. </li>
	<li> Перец черный молотый — по вкусу </li>
    </ul>
<img src= "https://sun9-19.userapi.com/impg/vD2rZ_AyjVVi4s8KFMysJiSRqiIDFaJHr1jF9g/VDhQHseeBiA.jpg?size=1200x800&quality=96&sign=b7b71b067eb86d42ebaee8c8235caa1e&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Лук мелко нарезать, морковь натереть. Половину лука и моркови обжарить на сковороде. </p>
<p> 2. Рис отварить до полуготовности, смешать с фаршем и перемешать с обжаренной морковью и луком. Все посолить и поперчить. </p>
<p> 3. У перца срезать верхушку и очистить его от семян. Начинить перец фаршем. </p>
<p> 4. Сметану смешать с томатной пастой. Полученную массу выложить на дно кастрюли, добавить оставшуюся половину тертой моркови и лука, перемешать. Сверху выложить перцы и залить водой ровно на высоту половины перца. </p>
<p> 5. Тушить под крышкой на среднем огне 40 минут. Блюдо готово! </p>
</body>
</html>
{% endblock %}