{% extends 'foodfinder/base.html' %}

{% block title %}
Вок с курицей и рисом
{% endblock %}

{% block content %}

<body>
<h1>Вок с курицей и рисом  </h1>
<p>Время готовки – 40 минут  </p>

<h2>Ингредиенты:</h2>
<ul class="ingridients-items">
<li> Курица (филе) — 200 г </li>
	<li> Лук репчатый — 1 шт. </li>
	<li> Чеснок — 2 зубчика </li>
	<li> Имбирь — ½ чайные ложки</li>
	<li> Перец болгарский — 1 шт. </li>
	<li> Морковь — 1 шт.</li>
	<li> Соевый соус — 2 ст. л. </li>
	<li> Рис — 150 г </li>
	<li> Масло растительное — 2 ст. л. </li>
	<li> Кунжут </li>
	<li> Соль </li>
	<li> Перец черный молотый </li>
	<li> Яйца — 2 шт. </li>
    </ul>
<img src= "https://sun9-41.userapi.com/impg/9v4raExbI_qrRmL_TFUCyDFvWIaJOQ12-sI-xw/_OAujglkHzA.jpg?size=1024x1024&quality=96&sign=6c678277ee54d735ad1e10cb12cdbfe3&type=album" width="400px" height="250px">
<h2>Способ Приготовления:</h2>
<p> 1. Налить в сковородку масло и разогреть. Выложить куриное филе и обжарить его секунд 20, переворачивая. </p>
<p> 2. Добавить нарезанный лук, обжаривать еще 30-40 секунд. </p>
<p> 3. Добавить мелко нарезанные перец, морковь, чеснок, имбирь, обжаривать 7-10 секунд. </p>
<p> 4. Сдвинуть на сковородке в сторону продукты, в освободившемся масле обжарить специи 10 секунд. </p>
<p> 5. Добавить заранее сваренный рис, обжаривать 10 секунд. </p>
<p> 6. Отодвинуть все в сторону на сковородке, разбить на свободное место 2 яйца, и обжаривать их размешивая, вмешать их в остальной вок. </p>
<p> 7. Добавить соевый соус, кунжут, выключить огонь и дать настояться. Блюдо готово! </p>

</body>
</html>
{% endblock %}