<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title> Ingridients </title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<link  rel="stylesheet" href="css/style.css">
    </head>
<body background="img/background3.jpg">
<header class="main-header">
<nav class="main-header-nav">
<div class="logo">
<img src="img/logo.svg" alt="Логотип Cookipedia" width="80px"
height="100px">
</div>
<h1> Foodfinder </h1>
<ul class="site-navigation">
<li class="site-navigation-item">
<a href="index" class="item"> О сайте </a>
</li>
<li class="site-navigation-item">
<a href="catalog" class="item"> Что приготовить </a>
</li>
<li class="site-navigation-item">
<a href="recipes" class="item"> Полезные рецепты </a>
</li>
</ul>
</nav>
</header>
<main>
        <h2>Выберите ингридиенты</h2>
		<div class="ingridients">

            <p>
                <input type="checkbox" checked name="Свинина"/>Свинина
            </p>
            <p>
                <input type="checkbox" name="Говядина"/>Говядина
            </p>
            <p>
                <input type="checkbox" name="Курица"/>Курица
            </p>
			<p>
                <input type="checkbox" name="Чеснок"/>Чеснок
            </p>
			<p>
                <input type="checkbox" name="Лук"/>Лук
            </p>
			<p>
                <input type="checkbox" name="Капуста"/>Капуста
            </p>
			<p>
                <input type="checkbox" name="Кабачки"/>Кабачки
            </p>
			<p>
                <input type="checkbox" name="Картофель"/>Картофель
            </p>
			<p>
                <input type="checkbox" name="Морковь"/>Морковь
            </p>
			<p>
                <input type="checkbox" name="Помидоры"/>Помидоры
            </p>
			<p>
                <input type="checkbox" name="Зелень"/>Зелень
            </p>
			<p>
                <input type="checkbox" name="Лимон"/>Лимон
			<p>
			<p>
                <input type="checkbox" name="Мед"/>Мед
			<p>
			<p>
                <input type="checkbox" name="Сыр"/>Сыр
			<p>
                <button type="submit">Поиск</button>
            </p>


		</div>
		</main>
		<footer class="main-footer">
<p class="copyright">Foodfinder ©2023</p>
</footer>
    </body>
</html>