{% extends 'foodfinder/base.html' %}

{% block title %}
главное про нас
{% endblock %}

{% block content %}
<section class="hero">
<h2> Для чего нужен сайт </h2>
<ul class="purpose">
<li class="purpose-item"> Здесь вы найдете рецепт себе по душе </li>
<li class="purpose-item"> Сможете приготовить еду из того, что есть в холодильнике </li>
</ul>
<img class="fridge" src="img/food.jpeg" alt="Что в холодильнике" width="500px"
height="262px">
<ul class="purpose2">
<li class="purpose2-item"> Увидите полезные и простые блюда </li>
<li class="purpose2-item"> Сможете поделиться своими секретами приготовления с другими </li>
</ul>
<img class="cooking" src="img/hero.jpg" alt="Готовка" width="500px"
height="262px">
</section>
<section class="information">
<p> Приветствуем на сайте Foodfinder!</p>
<p>Наш проект был создан для вечно голодных людей, ищущих вкусные рецепты, но ограниченных содержимым холодильника. Если вы, увидев скромное наполнение своего железного друга, не знаете что же из этого приготовить, то вы попали в нужное место </p>
<p> Сайт подберет блюда в ответ на введенные ингридиенты. Попробуйте новое и наслаждайтесь результатом! </p>
</section>
</main>
{% endblock %}

