{% extends 'foodfinder/base.html' %}

{% block title %}
главное про нас
{% endblock %}

{% block content %}

<main>
<div class="recipes">
 <div class ="recipes-item">
<h2>Плов с курицей</h2>
<p>время приготовления - 1 час 20 минут</p>
<!--<h2>Ингредиенты</h2>  -->
<ul class = "ingredients-items">
	<li>Рис – 200 г</li>
	<li>Чеснок – 2 зубчика</li>
	<li>Курица (бедра) – 3 шт.</li>
	<li>Лук репчатый – 1 шт.</li>
	<li>Морковь – 1 шт.</li>
	<li>Масло растительное</li>
	<li>Барбарис – по желанию</li>
	<li>Специи для курицы – 1 ч.л.</li>
	<li>Перец черный молотый</li>
</ul>
<img class="recipes-img" src = "img/picture1.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Поставьте сковородку на огонь. Вылейте масло. С луковиц уберите верхний слой и мелко нашинкуйте. Подрумяньте в прогретой сковородке.</p>
<p> 2. Сюда же добавьте натертую морковь. Готовьте до состояния мягкости.</p>
<p> 3. Поджаренные овощи сложите в стеклянную емкость для духовки.</p>
<p> 4. Куриные бедра обдайте под краном, обсушите бумажными салфетками. Подрумяньте на сковородке.</p>
<p> 5. Отмерьте рис для плова и специи для курицы. Рис залейте холодной водой, промойте до прозрачности воды и отправьте к овощам. Посолите и добавьте несколько зубчиков чеснока. Залейте кипятком.</p>
<p> 6. Сверху добавьте куриные бедра. Приправьте специями для курицы. Затем поместите емкость в печку. Оставьте примерно на час при температуре 180 градусов.</p>
<p> 7. Готовый ароматный плов достаньте из духовки. Блюдо готово!</p>
-->
<div class ="recipes-item">
<h2>Карри с курицей</h2>
<p>Время приготовления - 40 минут</p>
<!--<h2>Ингредиенты</h2> -->
<ul class = "ingredients-items">
	<li>Кокосовое молоко — 400 мл</li>
	<li>Курица (филе) — 2 шт.</li>
	<li>Лук репчатый — 1 шт.</li>
	<li>Молотый красный перец — по вкусу</li>
	<li>Лайм — 1 шт.</li>
	<li>Чеснок — 4 зубчика</li>
	<li>Имбирь — 2 ч. л.</li>
	<li>Куркума — 2 ч. л.</li>
	<li>Карри — 2 ч. л.</li>
</ul>
<img class="recipes-img" src = "img/picture2.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Филе режем на небольшие куски.</p>
<p>2. Нарезаем мелко лук, рубим чеснок, добавляем чуть острого перца, имбирь.</p>
<p>3. Обжариваем до румяности в оливковом масле.</p>
<p>4. Добавляем курицу, обжариваем на сильном огне 3–5 минут.</p>
<p>5. Посыпаем куркумой и карри, вливаем банку кокосового молока, выжимаем сок небольшого лайма и тушим на среднем огне около 40 минут. Блюдо готово!</p>
-->
<div class ="recipes-item">
<h2>Цезарь с курицей</h2>
<p>Время приготовления - 30 минут</p>
<!--<h2>Ингредиенты</h2> -->
<ul class = "ingredients-items">
	<li>Курица (филе) — 1 шт.</li>
	<li>Помидоры — 2 шт.</li>
	<li>Сухарики — 1 стакан</li>
	<li>Салат (Aйсберг) — 1 пучок</li>
	<li>Соус «Цезарь» — по вкусу</li>
	<li>Cыр (пармезан) — 50 г</li>
	<li>Оливковое масло — 1 ч. л.</li>
	<li>Лимон — по вкусу</li>
	<li>Итальянские травы — по вкусу</li>
</ul>
<img class="recipes-img" src = "img/picture3.png" width="400px" height="250px">
</div>
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Промываем куриное филе, режем на кусочки средней величины, посыпаем их смесью итальянских трав, поджариваем до золотой корочки.</p>
<p>2. Промываем листья салата, протираем сухой салфеткой, рвем их на равные части, сбрызгиваем лимонным соком и поливаем оливковым маслом (0,5 чайной ложки).</p>
<p>3. Промываем помидоры и режем дольками.</p>
<p>4. Выкладываем на тарелку листья салата, курицу, добавляем сухарики, заправляем соусом «Цезарь», посыпаем тертым пармезаном и украшаем дольками помидора. Блюдо готово!</p>
 -->

<div class="recipes">
 <div class ="recipes-item">
<h2>Паста с креветками в сливочно-чесночном соусе</h2>
<p> Время приготовления - 45 минут </p>
<!--<h2>Ингредиенты</h2> -->
<ul class = "ingredients-items">
	<li> Макароны – 150 г </li>
	<li> Креветки – 300 г </li>
	<li> Сыр (пармезан) – 30-40 г </li>
	<li> Сливки (20%) – 180 мл </li>
	<li> Масло сливочное – 30 г </li>
	<li> Лук репчатый – 40 г (0,5 шт.) </li>
	<li> Чеснок – 2 зубчика </li>
	<li> Соль – по вкусу </li>
	<li> Перец черный молотый – по вкусу </li>
	<li> Паприка – 1 ч. ложка </li>
	<li> Петрушка – 3-4 веточки </li>
</ul>
<img class="recipes-img" src = "img/picture4.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1.	Промываем и очищаем креветки.</p>
<p> 2.	Добавляем соль, перец и половину паприки, хорошо перемешиваем и оставляем на 10 минут. </p>
<p> 3.	Кастрюлю с водой ставим на плиту подогреваться. </p>
<p> 4.	В сковороде растапливаем половину сливочного масла и выкладываем креветки. Обжариваем по 2 минуты с каждой стороны. В это время очищаем лук, вымываем и нарезаем его мелкими кубиками. </p>
<p> 5.	Чеснок очищаем и пропускаем через пресс. </p>
<p> 6.	Обжаренные креветки выкладываем на тарелку. В сковороду выкладываем оставшееся сливочное масло и лук. Обжариваем лук 2-3 минуты. </p>
<p> 7.	Кипящую воду солим. Выкладываем спагетти и готовим согласно инструкции на упаковке. Затем отправляем спагетти в дуршлаг. </p>
<p> 8.	К луку в сковороду добавляем чеснок и обжариваем минуту. </p>
<p> 9.	Вливаем в сковороду сливки и готовим 2-3 минуты. </p>
<p> 10.	Пармезан натираем на мелкой тёрке. В сковороду добавляем половину натёртого пармезана. </p>
<p> 11.	Солим, перчим, добавляем оставшуюся паприку. Тщательно перемешиваем и прогреваем без кипения содержимое сковороды 1 минуту. Снимаем сковороду с огня. </p>
<p> 12.	Выкладываем к соусу спагетти и креветки. </p>
<p> 13.	Всё перемешиваем. Промываем и измельчаем петрушку. </p>
<p> 14.	Пасту с креветками посыпаем сыром, измельчённой петрушкой и чёрным перцем. Блюдо готово! </p>
-->
<div class ="recipes-item">
<h2>Рис с креветками в соусе терияки</h2>
<p> Время приготовления - 50 минут </p>
<!--<h2>Ингредиенты</h2>  -->
<ul class = "ingredients-items-shrimps">
	<li> Рис — 150 г </li>
	<li> Креветки — 150 г </li>
	<li> Соус терияки — 20 г </li>
	<li> Оливковое масло </li>
</ul>
<img class="recipes-img" src = "img/picture5.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Очистить креветки, порезать на одинаковые мелкие кусочки </p>
<p> 2. Выложить креветки в миску, залить их соусом терияки. Оставить немного мариноваться. </p>
<p> 3. В разогретую сковороду выложить креветки. Постоянно помешивая, готовить до однородного не прозрачного белого цвета. </p>
<p> 4. Сверху засыпать отварным рисом, постоянно помешивая, готовить еще 2–3 минуты. Блюдо готово! </p>
-->
<div class ="recipes-item">
<h2>Картофельное рагу</h2>
<p> Время приготовления - 50 минут </p>
<!--<h2>Ингредиенты</h2>  -->
<ul class = "ingredients-items-pure">
	<li> Картофель - 8-10 шт. </li>
	<li> Морковь - 2 шт. </li>
	<li> Лук репчатый - 2-3 шт. </li>
	<li> Чеснок - 5 зубчиков </li>
	<li> Томатная паста - 2 ст. л. </li>
	<li> Лавровый лист - 1 шт. </li>
	<li> Зелень (укроп, петрушка или кинза) - 2 ст. л. </li>
	<li> Соль - 1 ч. л. </li>
</ul>
<img class="recipes-img" src = "img/picture6.png" width="400px" height="250px">
</div>
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Картофель очистить, вымыть, нарезать кубиками. </p>
<p> 2. Лук, морковь очистить, вымыть, нарезать кубиками. Чеснок очистить, мелко нарубить. Зелень вымыть, мелко нарезать. </p>
<p> 3. Подготовленные овощи сложить в кастрюлю, добавить томатную пасту. Добавить соль, немного воды. Все хорошо перемешать. На минимальном огне под крышкой тушить картофельное рагу 15-20 минут. </p>
<p> 4. За 5-10 минут до готовности рагу добавить мелко нарубленный чеснок, зелень (2/3 части) и лавровый лист. </p>
<p> 5. При подаче картофельное рагу посыпать оставшейся мелко нарезанной зеленью. Блюдо готово! </p>
-->
<div class="recipes">
 <div class ="recipes-item">
<h2> Драники </h2>
<p> Время приготовления - 40 минут </p>
<!--<h2>Ингредиенты</h2>  -->
<ul class = "ingredients-items-dranik">
	<li> Картофель - 7 шт. </li>
	<li> Мука — 1 ст. л. </li>
	<li> Соль - по вкусу </li>
	<li> Масло сливочное — 1 ст. л. </li>
	<li> Сметана — по желанию </li>
</ul>
<img class="recipes-img" src = "img/picture7.png" width="400px" height="250px">
</div>
 <!--
<h2>Рецепт:</h2>
<p> 1. Картофель натереть на крупной тёрке, отжать, добавить муку, сметану, соль, перемешать. </p>
<p> 2. Выкладывать столовой ложкой на очень хорошо разогретую сковороду в растопленное масло. </p>
<p> 3. Обжаривать драники с обеих сторон до золотистой корочки.  Подавать картофельные драники горячими со сметаной. Блюдо готово! </p>
-->
 <div class ="recipes-item">
<h2> Картофель по-деревенски </h2>
<p> Время приготовления - 50 минут </p>
<!--<h2>Ингредиенты</h2>  -->
<ul class = "ingredients-items">
	<li> Картофель — 5 шт. </li>
	<li> Чеснок — 3 зубчика </li>
	<li> Укроп </li>
	<li> Петрушка </li>
	<li> Масло растительное — 2 ст.л. </li>
	<li> Соль </li>
	<li> Перец черный молотый </li>
</ul>
<img class="recipes-img" src = "img/picture8.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Поставьте противень в духовку и разогрейте ее до 220 С. Картофель хорошенько промойте и высушите, нарежьте дольками. </p>
<p> 2. В кастрюле вскипятите воду. Затем опустите картофель в кастрюлю и варите 5 минут на сильном огне. </p>
<p> 3. Выложите картофель на бумажные полотенца и хорошо просушите его.</p>
<p> 4. Переложите картофель в большую миску. Добавьте чеснок, выдавленный через пресс, сушеную зелень, соль, перец и растительное масло. Хорошо перемешайте. </p>
<p> 5. Вытащите горячий противень из разогретой духовки и затем выложите картофель на него. Распределите картофель равномерно. </p>
<p> 6. Выпекайте 10 минут. Выньте противень из духовки и переверните картофель, затем поставьте противень обратно в духовку. Выпекайте 7-10 минут при 240 градусах. Блюдо готово!</p> -->

 <div class ="recipes-item">
<h2> Паста с соусом песто и сыром </h2>
<p> Время приготовления - 30 минут </p>
<!--<h2>Ингредиенты</h2> -->
<ul class = "ingredients-items">
	<li> Макароны (любые по желанию) — 200 гр </li>
	<li> Базилик - 1 пучок </li>
	<li> Сыр (пармезан) — 50  гр </li>
	<li> Чеснок — 1 зубчик </li>
	<li> Кедровые орехи — 1 ст.л. </li>
	<li> Оливковое масло — 4 ст.л. </li>
	<li> Соль — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture9.png" width="400px" height="250px">
</div>
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Поставьте на плиту кастрюлю с водой для варки макарон, доведите до кипения, посолите. Закиньте макароны, перемешайте. Варите на среднем огне по времени, написанном на упаковке. Они должны остаться чуть твердыми (аль денте). </p>
<p> 2. Пока макароны варятся, приготовьте песто. Его можно делать в блендере, измельчителе или насадкой с ножом. Базилик хорошо промойте под прохладной водой. Затем тщательно промокните его бумажным полотенцем. Оборвите листики в чашу блендера. Добавьте орехи, очищенный зубчик чеснока и немного соли. Взбейте все блендером до пастообразной массы. Влейте немного масла, еще раз взбейте. </p>
<p> 3. Натрите сыр на мелкой терке. Небольшой кусок оставьте, чтобы посыпать блюдо при подаче. </p>
<p> 4. Всыпьте натертый сыр в чашу, влейте еще немного масла. Растирайте массу до кашеобразного состояния. Густоту регулируйте количеством масла. В результате должен получиться соус с густой консистенцией. </p>
<p> 5. С макарон слейте с воду. Выложите порцию макарон в тарелку, добавьте полторы-две столовые ложки соуса. Перемешайте. Блюдо готово!</p>
-->
<div class="recipes">
 <div class ="recipes-item">
<h2> Паста болоньезе с фаршем </h2>
<p> Время приготовления - 1 час 20 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items">
	<li> Фарш говяжий — 500 гр </li>
	<li> Лук репчатый — 650 гр </li>
	<li> Томатная паста — 200 гр </li>
	<li> Перец черный молотый </li>
	<li> Орегано </li>
	<li> Чеснок — 2 зубчика </li>
	<li> Мёд — 1 ст.л. </li>
	<li> Паприка — 1 ч.л. </li>
	<li> Вино красное — 125 мл </li>
	<li> Перец чили — 1 ч.л. </li>
	<li> Макароны (спагетти) — 1 кг </li>
	<li> Оливковое масло — 2 ст.л. </li>
	<li> Соль </li>
	<li> Масло сливочное — 2 ст.л. </li>
	<li> Базилик свежий - 1 пучок </li>
	<li> Сыр (пармезан) — 100 гр </li>
</ul>
<img class="recipes-img" src = "img/picture10.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Разогрейте масло в глубокой большой кастрюле, добавьте нарезанный кубиками лук и обжарьте его до прозрачности. Выложите фарш и жарьте до готовности, помешивая. </p>
<p> 2. Влейте вино и тушите смесь до тех пор, пока не исчезнет запах алкоголя. Всыпьте специи (соль, перец, паприку, орегано). </p>
<p> 3. Добавьте чили, мед, томатную пасту, измельченный чеснок. Когда смесь закипит, убавьте огонь. Варите, пока соус не станет однородным и густым. </p>
<p> 4. Отварите спагетти. Откиньте спагетти на дуршлаг.</p>
<p> 5. Пармезан натрите на терке. </p>
<p> 6. Выложите пасту на блюдо, полейте соусом, посыпьте тертым пармезаном и украсьте мелко порубленным базиликом. Блюдо готово! </p>
-->
 <div class ="recipes-item">
<h2> Оливье с курицей </h2>
<p> Время приготовления - 1 час </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-salad">
	<li> Курица (грудка) - 1 шт. </li>
	<li> Картофель - 3-4 шт. </li>
	<li> Морковь - 1 шт. </li>
	<li> Яйца - 3 шт. </li>
	<li> Огурец - 1 шт. </li>
	<li> Огурцы маринованные - 4-5 шт. </li>
	<li> Горошек консервированный - 1 банка </li>
    <li> Майонез - 4 ст. л. </li>
    <li> Соль - по вкусу </li>
    <li> Перец черный молотый - по вкусу </li>
    <li> Петрушка, укроп — по желанию </li>
</ul>
<img class="recipes-img" src = "img/picture11.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Картофель и морковь нужно отварить заранее, чтобы они успели остыть.</p>
<p> 2.  Очищаем картофель, морковь и яйца. Нарезаем их приблизительно одинаковыми кубиками. Смешиваем всё в глубокой емкости. </p>
<p> 3. Свежий огурец очищаем и нарезаем кубиками. Такими же кубиками нарезаем маринованный огурец. Добавляем к остальным ингредиентам. </p>
<p> 4. Куриную грудку отвариваем в подсоленной воде. Нарезаем кубиками. </p>
<p> 5. Добавляем горошек и перемешиваем. </p>
<p> 6. В майонез добавляем щепотку соли и перец. Непосредственно перед подачей заправляем оливье с курицей майонезом и перемешиваем. Украшаем салат  зеленью по желанию. Блюдо готово! </p> -->

 <div class ="recipes-item">
<h2>Салат Мимоза </h2>
<p> Время приготовления - 1 час </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-salad1">
	<li> Яйца — 4 шт. </li>
	<li> Картофель — 4 шт. </li>
	<li> Морковь — 2 шт. </li>
	<li> Лук репчатый — 1 шт. </li>
	<li> Рыбные консервы — 250 г </li>
	<li> Майонез — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture12.png" width="400px" height="250px">
</div>
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Яйца отварите вкрутую за 10 минут, картофель и морковь — до готовности. Отдельно натрите на мелкой или средней тёрке белки, желтки, картошку и морковь.</p>
<p> 2. Лук нарежьте небольшими кусочками и на пару минут залейте кипятком, после промойте холодной водой. Консервы разомните вилкой и удалите крупные кости. </p>
<p> 3. На дно салатника положите немного картошки. Дальше выкладывайте по очереди рыбу, лук, оставшуюся картошку, морковь и белки. Каждый слой смазывайте майонезом. Сверху посыпьте желтками. Перед подачей оставьте на пару часов в холодильнике. Блюдо готово! </p> -->

<div class="recipes">
 <div class ="recipes-item">
<h2>Салат с курицей и ананасами </h2>
<p> Время приготовления - 30 минут </p>
<!--<h2> Ингредиенты </h2> -->
<ul class="ingredients-items-salad3">
	<li> Курица (филе) — 200 г </li>
	<li> Консервированный ананас — 200 г </li>
	<li> Сыр (российский) — 70 г </li>
	<li> Чеснок — 1 зубчик </li>
	<li> Майонез — по вкусу </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture13.png" width="400px" height="250px">
</div>
<!--<h2>Рецепт:</h2>
<p> 1. Куриное филе отварить, нарезать небольшими кубиками или соломкой. </p>
<p> 2. С ананасов слить жидкость и также нарезать кубиками. </p>
<p> 3. Сыр натереть на мелкой или крупной терке.
<p> 4. В миску выложить курицу, ананасы и сыр. </p>
<p> 5. Чеснок пропустить через терку или мелко порубить ножом. В майонез добавить чеснок, заправить салат. </p>
<p> 6. По вкусу немного посолить и поперчить перцем. Блюдо готово!</p> -->

<div class ="recipes-item">
<h2> Рис с яйцом по-китайски </h2>
<p> Время приготовления - 40 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-rice">
	<li> Рис (длиннозерновой) — 150 г </li>
	<li> Яйца — 3 шт. </li>
	<li> Чеснок — 2 зубчика </li>
	<li> Зеленый лук — 5 шт. </li>
	<li> Масло растительное — 2 ст. л. </li>
	<li> Зеленый горошек — 125 г </li>
	<li> Соевый соус — 1 ст. ложка </li>
    <li> Соль — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture14.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Варить рис около 10–12 минут, почти до готовности. Промыть под холодной водой. </p>
<p> 2. В кастрюлю выложить яйца, немного взбить, поставить на маленький огонь, помешивать, пока они немного не схватятся. </p>
<p> 3. Разогреть масло в сковородке. Добавить раздавленный чеснок, мелко нарезанный лук, отваренный горошек и обжаривать, помешивая, 1–2 минуты. Добавить рис, перемешать. Добавить яйца, соевый соус и щепотку соли, перемешать. При подаче украсить нарезанным зеленым луком. Блюдо готово!</p> -->

<div class ="recipes-item">
<h2>Гуляш из говядины с картофелем </h2>
<p> Время приготовления - 1 час 30 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items">
	<li>Говядина - 600 г </li>
	<li> Картофель - 500 г </li>
	<li> Перец болгарский - 250 г </li>
	<li> Морковь - 100 г </li>
	<li> Помидоры - 150 г </li>
	<li> Лук репчатый - 100 г </li>
	<li> Чеснок - 3 зубчика </li>
	<li> Перец чили - по вкусу </li>
	<li> Масло растительное - 50 мл </li>
	<li> Паприка - 2 ч. л. </li>
	<li> Молотый красный перец - по вкусу </li>
	<li> Перец черный молотый - 0,5 ч. л. </li>
	<li> Соль - по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture15.png" width="400px" height="250px">
</div>
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Лук очистите и нарежьте мелкими кубиками. Разогрейте сковороду с растительным маслом и выложите туда лук. </p>
<p> 2. Обжаривайте лук на среднем огне 3-4 минуты, до прозрачности. Всыпьте к луку паприку и молотый красный острый перец. Перемешайте </p>
<p> 3. Мясо промойте и обсушите бумажными полотенцами. Нарежьте крупными кусочками и выложите на сковороду к луку. Обжаривайте всё вместе на большом огне 2-3 минуты. </p>
<p> 4. Снизьте огонь до умеренного и тушите мясо с луком под крышкой около 1 часа. </p>
<p> 5. Помидоры нарежьте кубиками (желательно очистить их от кожицы). Чеснок очистите и нарежьте пластинами. Перец чили очистите от семян и нарежьте полосками. Морковь и сладкий перец очистите. Нарежьте морковь кружками, а сладкий перец - квадратиками. </p>
<p> 6. Добавьте к мясу морковь, сладкий перец, помидоры, чеснок и перец чили. Посолите и поперчите. Тушите мясо с овощами под крышкой 10-15 минут. Следите за жидкостью в процессе тушения, при необходимости подлейте воду. </p>
<p> 7. Картофель очистите, нарежьте крупными кубиками и добавьте в сковороду к мясу и овощам. Готовьте под крышкой еще около 20 минут, до мягкости картофеля. Блюдо готово!</p>-->

<div class="recipes">
 <div class ="recipes-item">
<h2> Теплый салат с рукколой и говядиной </h2>
<p> Время приготовления - 40 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-salad4">
	<li> Говядина - 300 г </li>
	<li> Руккола - 100 г </li>
	<li> Помидоры черри - 100 г </li>
	<li> Оливковое масло - 2 ст.л. </li>
	<li> Соевый соус - 2 ст.л. </li>
	<li> Чеснок - 1 зубчик </li>
	<li> Соль </li>
	<li> Кориандр - по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture16.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Говядину нарежьте сначала тонкими пластинками, а затем - полосками. </p>
<p> 2. Замаринуйте мясо в соевом соусе и растительном масле. Добавьте чеснок и специи. Хорошенько перемешайте руками и оставьте мариноваться от 15 минут. </p>
<p> 3. Обжарьте мясо в сковороде, помешивая, не дольше 2 минут. </p>
<p> 4. На блюдо разложите вымытую рукколу и ломтики помидоров. Добавьте мясо и сок от жарки, по желанию сбрызните бальзамическим соусом. Блюдо готово! </p>-->

 <div class ="recipes-item">
<h2> Чахохбили с курицей и картофелем </h2>
<p> Время приготовления - 45 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-meat">
	<li> Курица - 700-800 г </li>
	<li> Лук репчатый - 2 шт. </li>
	<li> Помидоры - 400 г </li>
	<li> Картофель - 500 г </li>
	<li> Чеснок - 3-4 зубчика </li>
	<li> Масло сливочное - 30 г </li>
	<li> Кориандр молотый - 0,5 ч.л. </li>
	<li> Хмели-сунели - 1 ч.л. </li>
	<li> Сахар - 1 ч.л. </li>
	<li> Паприка - 1 ч.л. </li>
	<li> Кинза (свежая) - 5-6 веточек </li>
	<li> Соль - по вкусу </li>
	<li> Перец черный молотый  - по вкусу </li>

</ul>
<img class="recipes-img" src = "img/picture17.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Картофель очистите, нарежьте на средние кусочки и поставьте вариться. Варите до полуготовности. </p>
<p> 2. Курицу разделайте на небольшие порционные кусочки. В сковороде растопите сливочное масло, выложите кусочки курицы и обжаривайте с двух сторон до румяности. </p>
<p> 3. Лук очистите, нарежьте тонкими перьями и добавьте к курице, обжаривайте до мягкости. </p>
<p> 4. Когда лук слегка обжарится, добавьте мелко нарезанный чеснок. Готовьте еще пару минут. </p>
<p> 5. Помидоры нарежьте мелкими кубиками, добавьте к курице. Добавьте специи, сахар. Готовьте 3-4 минуты. </p>
<p> 6. В сковороду влейте немного воды, добавьте картофель, аккуратно перемешайте, накройте сковороду крышкой и тушите на медленном огне 10-15 минут. </p>
<p> 7. Кинзу мелко нарежьте. Добавьте в блюдо и снимите с плиты. </p>
<p> 8. Оставьте сковороду под крышкой настояться еще на 10 минут. Блюдо готово! </p> -->

 <div class ="recipes-item">
<h2> Ризотто с курицей и пармезаном </h2>
<p> Время приготовления - 40 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-rice2">
	<li> Курица — 1 кг </li>
	<li> Сельдерей — 1 шт. </li>
	<li> Лук репчатый — 2 шт. </li>
	<li> Морковь — 1 шт. </li>
	<li> Масло сливочное — 100 г </li>
	<li> Белое сухое вино — 200 мл </li>
	<li> Рис — 200 г </li>
	<li> Сыр (пармезан) — 50 г </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture18.png" width="400px" height="250px">
</div>
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Куриное мясо нарежьте кубиками. Одну луковицу мелко покрошите. </p>
<p> 2. Положите куриные кости, сельдерей, морковь и целую луковицу в кастрюлю, влейте 1,5 литра воды, посолите и поперчите и доведите до кипения. Убавьте огонь и варите 30 минут. Процедите бульон, и налейте 500 мл в чистую кастрюлю. Поставьте бульон на огонь и разогрейте. </p>
<p> 3. Растопите 65 г сливочного масла в другой кастрюле, добавьте лук и курицу и готовьте на медленном огне, помешивая, 10 минут. Добавьте соль, перец и вино. Варите 12–15 минут до испарения жидкости. </p>
<p> 4. Всыпьте рис и готовьте, помешивая, 2 минуты до прозрачности. Добавьте бульон и готовьте, помешивая, пока жидкость полностью не впитается. Снова долейте бульона, продолжайте готовить, помешивая. </p>
<p> 5. Когда весь бульон впитается, уберите кастрюлю с огня и вмешайте оставшееся сливочное масло и тертый пармезан. Накройте, подождите 5–7 минут. Блюдо готово! </p>-->

<div class="recipes">
 <div class ="recipes-item">
<h2> Шаурма домашняя с курицей </h2>
<p> Время приготовления - 20 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items">
	<li>Лаваш армянский — 1 шт. </li>
	<li> Курица — 500 г </li>
	<li> Лук красный — 2 шт. </li>
	<li> Морковь по-корейски — 300 г </li>
	<li> Салат — 1 шт. </li>
	<li> Помидоры черри — 10 шт. </li>
	<li> Майонез — 150 г </li>
	<li> Кетчуп — 150 г </li>
	<li> Яйца — 2 шт. </li>
	<li> Масло растительное — 1 ст. л. </li>
</ul>
<img class="recipes-img" src = "img/picture19.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Курицу отвариваем, режем на отдельные кусочки. Обжариваем до появления небольшой корочки. </p>
<p> 2. Нарезаем лук полукольцами. Помидоры черри нарезаем на четыре части. </p>
<p> 3. Для соуса смешиваем майонез и кетчуп в одинаковых пропорциях. </p>
<p> 4. Разбиваем 2 яйца, взбалтываем венчиком, оставляем для смазки лаваша внутри и снаружи. </p>
<p> 5. Разрезаем лаваш на 6 частей. Берем небольшой кусок лаваша. Смазываем его сначала яйцом, затем соусом, добавляем лук, морковь, салат и помидоры, укладываем на середину лаваша курицу. Сворачиваем в трубочку. </p>
<p> 6. Смазываем яйцом с двух сторон и кладем на сковородку. Обжариваем с двух сторон до образования корочки. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Картофельная запеканка с фаршем </h2>
<p> Время приготовления - 35 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-pie">
	<li> Картофель — 500 г </li>
	<li> Фарш мясной — 500 г </li>
	<li> Сыр — 200 г </li>
	<li> Помидоры — 350 г </li>
	<li> Лук репчатый — 150 г </li>
	<li> Масло сливочное — 2 ст. л. </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
	<li> Масло растительное — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture20.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Картофель отчистить, отварить до готовности. </p>
<p> 2. Лук мелко покрошить. Помидоры нарезать кубиками. Обжарить лук на растительном масле до золотистого цвета. </p>
<p> 3. Добавить помидоры, жарить 2–3 минуты. </p>
<p> 4. Добавить фарш, добавить соль с перцем, жарить до готовности. </p>
<p> 5. Слить воду с готового картофеля, добавить сливочное масло, добавить соль, потолочь. </p>
<p> 6. В форму для запекания выложить фарш. На фарш выложить картофельное пюре, разровнять. </p>
<p> 7. Сыр натереть на мелкой терке. Посыпать сыром. </p>
<p> 8. Запекать в духовке при температуре 180 градусов 30 минут. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Лазанья с мясным фаршем </h2>
<p> Время приготовления - 1 час </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-meat2">
	<li> Фарш мясной — 600 г </li>
	<li> Соус болоньезе — 600 г </li>
	<li> Масло сливочное — 60 г </li>
	<li> Пшеничная мука — 2,5 ст. л. </li>
	<li> Оливковое масло — 2 ст. л. </li>
	<li> Молоко — 750 мл </li>
	<li> Макароны (лазанья) — 10 шт. </li>
	<li> Сыр — 500 г </li>
</ul>
<img class="recipes-img" src = "img/picture21.png" width="400px" height="250px">
</div>
</div>
<!--<h2> Рецепт: </h2>
<p> 1. В кастрюлю положить сливочное масло и 2 ложки растительного масла, растопить. Постепенно добавлять муку и размешивать так, чтобы не оставалось комочков. </p>
<p> 2. Добавить молоко. Убавить огонь и томить до нужной консистенции: не жидкой, но и не слишком густой. </p>
<p> 3. На сковороде раскалить оливковое масло. Добавить мясной фарш. Жарить до полуготовности. Влить в него соус болоньезе, посолить и поперчить по вкусу. </p>
<p> 4. Духовку разогреть до 180 градусов. Форму смазать сливочным маслом. На дно вылить немного соуса, чтобы покрыть дно. </p>
<p> 5. Выложить пласты. На пласты выложить получившийся фарш, на фарш — натертый сыр. На сыр — соус бешамель. </p>
<p> 6. Поверх соуса выложить сухие листы лазаньи. Повторить.Последний слой листов промазать соусом и сверху засыпать сыром. Дать постоять 7–10 минут. Поставить в духовку на 30 минут. Блюдо готово! </p>-->

<div class="recipes">
 <div class ="recipes-item">
<h2> Вок с курицей и рисом </h2>
<p> Время приготовления - 40 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items">
	<li> Курица (филе) — 200 г </li>
	<li> Лук репчатый — 1 шт. </li>
	<li> Чеснок — 2 зубчика </li>
	<li> Имбирь — ½ чайные ложки</li>
	<li> Перец болгарский — 1 шт. </li>
	<li> Морковь — 1 шт.</li>
	<li> Соевый соус — 2 ст. л. </li>
	<li> Рис — 150 г </li>
	<li> Масло растительное — 2 ст. л. </li>
	<li> Кунжут </li>
	<li> Соль </li>
	<li> Перец черный молотый </li>
	<li> Яйца — 2 шт. </li>
</ul>
<img class="recipes-img" src = "img/picture22.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Налить в сковородку масло и разогреть. Выложить куриное филе и обжарить его секунд 20, переворачивая. </p>
<p> 2. Добавить нарезанный лук, обжаривать еще 30-40 секунд. </p>
<p> 3. Добавить мелко нарезанные перец, морковь, чеснок, имбирь, обжаривать 7-10 секунд. </p>
<p> 4. Сдвинуть на сковородке в сторону продукты, в освободившемся масле обжарить специи 10 секунд. </p>
<p> 5. Добавить заранее сваренный рис, обжаривать 10 секунд. </p>
<p> 6. Отодвинуть все в сторону на сковородке, разбить на свободное место 2 яйца, и обжаривать их размешивая, вмешать их в остальной вок. </p>
<p> 7. Добавить соевый соус, кунжут, выключить огонь и дать настояться. Блюдо готово! </p> -->


 <div class ="recipes-item">
<h2> Греческий салат </h2>
<p> Время приготовления - 15 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-salad5">
	<li> Петрушка — 30 г </li>
	<li> Помидоры — 2 шт. </li>
	<li> Огурцы — 1 шт. </li>
	<li> Оливковое масло — 40 мл </li>
	<li> Лук красный — 1 шт. </li>
	<li> Перец болгарский — 1 шт.</li>
	<li> Орегано </li>
	<li> Оливки — 8 шт. </li>
	<li> Сыр фета — 170 г </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture23.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Лук нарезать тонкими кольцами, помидоры, перец и огурцы — небольшими ломтиками. </p>
<p> 2. Петрушку измельчить, затем смешать все в салатнике. В отдельной маленькой миске взбить оливковое масло, уксус, соль и перец. </p>
<p> 3. Полить заправкой овощи, аккуратно перемешать, а сверху выложить фету, нарезанную крупными ломтиками, и оливки. Посыпать салат сушеным орегано. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Салат с моцареллой и рукколой </h2>
<p> Время приготовления - 20 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-salad6">
	<li> Помидоры черри — 15 шт. </li>
	<li> Сыр моцарелла — 300 г </li>
	<li> Руккола — 100 г </li>
	<li> Оливковое масло — 3 ст. л. </li>
	<li> Бальзамический уксус — 2 ст. л. </li>
</ul>
<img class="recipes-img" src = "img/picture24.png" width="400px" height="250px">
</div>
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Нарезать моцареллу кубиками. Нарезать помидорки черри на половинки.</p>
<p> 2. Добавить рукколу, бальзамический уксус и оливкое масло. Тщательно перемешать. </p>
<p> 3. Оставить на 10 минут. Блюдо готово! </p>-->

<div class="recipes">
 <div class ="recipes-item">
<h2> Фаршированный перец </h2>
<p> Время приготовления - 1 час 20 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items">
	<li> Фарш — 500 г </li>
	<li> Перец  болгарский — 8 шт. </li>
	<li> Рис — 0,5 стакана </li>
	<li> Морковь — 200 г </li>
	<li> Лук репчатый — 3 головки </li>
	<li> Сметана — 100 г </li>
	<li> Томатная паста — 3 ст. л. </li>
	<li> Соль — по вкусу </li>
	<li> Масло растительное — 2 ст. л. </li>
	<li> Перец черный молотый — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture25.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Лук мелко нарезать, морковь натереть. Половину лука и моркови обжарить на сковороде. </p>
<p> 2. Рис отварить до полуготовности, смешать с фаршем и перемешать с обжаренной морковью и луком. Все посолить и поперчить. </p>
<p> 3. У перца срезать верхушку и очистить его от семян. Начинить перец фаршем. </p>
<p> 4. Сметану смешать с томатной пастой. Полученную массу выложить на дно кастрюли, добавить оставшуюся половину тертой моркови и лука, перемешать. Сверху выложить перцы и залить водой ровно на высоту половины перца. </p>
<p> 5. Тушить под крышкой на среднем огне 40 минут. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Куриный суп по-домашнему </h2>
<p> Время приготовления - 1 час </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-soup">
	<li> Курица (ножки) — 3 шт. </li>
	<li> Картофель — 3 шт. </li>
	<li> Морковь — 1 шт. </li>
	<li> Лук репчатый — 1 шт. </li>
	<li> Макароны (вермишель) — 30 г </li>
	<li> Зелень — 50 г </li>
	<li> Соль — по вкусу </li>
	<li> Перец черный молотый — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture26.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Промытую курицу кладем в кастрюлю, заливаем холодной водой, ставим на сильный огонь. Когда вода закипит, убавляем огонь до минимума, солим по вкусу, кладем неочищенную мытую луковицу и закрываем крышкой на 30 минут. </p>
<p> 2. Убираем луковицу, кладем морковь, нарезанную кубиками. Через 5 минут добавляем очищенный и нарезанный картофель, пробуем на соль. Варим еще 10–15 минут. </p>
<p> 3. Затем добавляем вермишель, варим 15 минут. Добавляем специи. Через 5 минут выключаем. Даем супу настояться 10 минут. В тарелку с супом можно положить мелко нарезанную зелень. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Пицца Маргарита </h2>
<p> Время приготовления - 1 час </p>
<!--<h2> Ингредиенты </h2> -->
<ul class="ingredients-items">
	<li> Пшеничная мука — 1.5  стак. </li>
	<li> Сухие дрожжи — 1  ч.л. </li>
	<li> Сахар — 1  ч.л. </li>
	<li> Оливковое масло — 4  ст.л. </li>
	<li> Томатная паста — 3 ст.л. </li>
	<li> Чеснок — 1  зубчик </li>
	<li> Соль — по вкусу </li>
	<li> Базилик — 6  листков </li>
	<li> Сыр (моцарелла) — 200 гр </li>
	<li> Помидоры черри — 8 шт.</li>
</ul>
<img class="recipes-img" src = "img/picture27.png" width="400px" height="250px">
</div>
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Нагрейте воду до температуры 37-40 градусов. Растворите в ней сахар и добавьте дрожжи. Оставьте в теплом месте на 5-15 минут для активации дрожжей. </p>
<p> 2. Добавьте в тесто соль, 2 столовых ложки оливкового масла и хорошо размешайте до однородности. </p>
<p> 3. Добавляйте муку небольшими порциями. Тесто должно получиться мягким, нежным и слегка липнуть к рукам. </p>
<p> 4. Смажьте миску и руки растительным маслом. Сформируйте из теста шар, миску накройте пищевой пленкой или полотенцем, чтобы оно не сохло и хорошо поднималось. Оставьте в теплом месте, пока будете готовить начинку. </p>
<p> 5. Чеснок очистите и помойте, разрежьте вдоль зубчика на 2 части. В разогретой сковороде разогрейте масло. Поджарьте на среднем огне чеснок в течение 2 минут, перемешивая. </p>
<p> 6. Добавьте к чесноку томатную пасту. Постоянно помешивая, доведите до кипения, посолите по вкусу. Протушите еще 2 минуты. </p>
<p> 7. Базилик промойте, просушите и измельчите ножом. Добавьте в сковороду и перемешайте. Переложите получившийся соус в отдельную миску. </p>
<p> 8. Моцареллу нарежьте на кусочки толщиной 3-5 мм. </p>
<p> 9. Помидоры помойте и разрежьте пополам. </p>
<p> 10. Включите разогреваться духовку до 220 градусов. Разомните тесто руками в круглый пласт толщиной 3-5 мм. Края оставьте потолще, чтобы образовался бортик. Равномерно смажьте тесто соусом. Сверху распределите моцареллу и помидоры. </p>
<p> 11. Оставьте в духовке на 10-15 минут. Блюдо готово! </p>-->

<div class="recipes">
 <div class ="recipes-item">
<h2> Ролл с креветками в лаваше </h2>
<p> Время приготовления - 20 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items">
	<li> Креветки — 100 гр. </li>
	<li> Чеснок — 1 зубчик </li>
	<li> Сыр (творожный) — 4 ст. л. </li>
	<li> Салат (айсберг)  — по вкусу </li>
	<li> Помидоры— 1 шт. </li>
	<li> Огурец — 1 шт. </li>
	<li> Перец болгарский — 1 шт. </li>
	<li> Кунжут — по вкусу </li>
	<li> Соевый соус — 2 ст. л. </li>
	<li> Оливковое масло — 1 ст. л. </li>
	<li> Лаваш — 2 шт. </li>
</ul>
<img class="recipes-img" src = "img/picture28.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Размораживаем креветки в горячей воде, очищаем и хорошо отжимаем их руками. Обжариваем на подогретой сковородке с раздавленным зубчиком чеснока. Оставляем в сковороде остывать. </p>
<p> 2. Берем лепешку или лаваш. Кладем на нее порезанный салат айсберг, затем творожный сыр. Добавляем помидор, нарезанный ломтиками. </p>
<p> 3. Сверху можно положить зелень или смесь разных салатов. Добавьте сверху огурцы и сладкий перец. </p>
<p> 4. Сверху выкладываем креветки, посыпаем их кунжутом, немного поливаем соевым соусом и оливковым маслом. </p>
<p> 5. Свернуть роллы и обжарить на сухой сковороде. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Сырный суп по-французски с курицей </h2>
<p> Время приготовления - 1 час </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-soup2">
	<li> Курица (филе) — 500 г </li>
	<li> Сыр плавленый — 200 г </li>
	<li> Картофель — 400 г </li>
	<li> Лук репчатый — 150 г </li>
	<li> Морковь — 180 г </li>
	<li>Масло сливочное </li>
	<li> Перец черный молотый </li>
	<li> Зелень </li>
	<li> Лавровый лист — 3 шт. </li>
	<li> Гренки </li>
	<li> Черный перец горошком </li>
</ul>
<img class="recipes-img" src = "img/picture29.png" width="400px" height="250px">
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Залить кастрюлю и положить мясо. Как только бульон начнет кипеть, добавить 1 чайную ложку соли, пару горошков черного перца, 2–3 листика лаврового листа. Варить с момента закипания 20 минут. Затем мясо достать. </p>
<p> 2. Картофель почистить и нарезать кубиками. Лук нарезать кубиками. Морковь натереть на терке. Мясо порезать небольшими кусочками. Плавленый сыр натереть на терке или порезать кубиками. </p>
<p> 3. В кипящий бульон добавить картофель. С момента закипания варить 5–7 минут. </p>
<p> 4. В это время сделать слабую зажарку на сливочном масле. Сначала положить лук, затем морковь. Слегка посолить и поперчить. Готовую зажарку добавить в суп и варить еще 5–7 минут. </p>
<p> 5. Добавить мясо, варить 3–4 минуты, добавить плавленый сыр, хорошенько помешать и выключить огонь.Перед подачей посыпать зеленью и гренками. Блюдо готово! </p>-->


 <div class ="recipes-item">
<h2> Бефстроганов </h2>
<p> Время приготовления - 40 минут </p>
<!--<h2> Ингредиенты </h2>-->
<ul class="ingredients-items-meat3">
	<li> Говядина — 400 г </li>
	<li> Лук репчатый — 2 шт. </li>
	<li> Сметана — 200 г </li>
	<li> Томатная паста — 2 ст. л. </li>
	<li> Пшеничная мука — 1 ст. л. </li>
	<li> Петрушка — 2 ст. л. </li>
	<li> Соль — по вкусу </li>
	<li> Масло растительное — 50 мл </li>
	<li> Перец черный молотый — по вкусу </li>
</ul>
<img class="recipes-img" src = "img/picture30.png" width="400px" height="250px">
</div>
</div>
<!--<h2> Рецепт: </h2>
<p> 1. Говядину вымыть, хорошо обсушить и нарезать ломтиками. Ломтики мяса положить между двумя слоями пищевой пленки и отбить. </p>
<p> 2. Отбитое мясо нарезать поперек волокон тонкой соломкой. </p>
<p> 3. Лук очистить и нарезать кольцами, затем разрезать на четыре части. </p>
<p> 4. В разогретую с маслом сковороду выложить лук, посолить, немного поперчить и обжарить до мягкости. Обжаренный лук посыпать мукой и перемешать. </p>
<p> 5. К луку добавить сметану, томатный соус и перемешать. Довести до кипения и влить немного воды. Получив желаемую густоту и однородную консистенцию, посолить и поперчить. </p>
<p> 6. Другую сковороду хорошо разогреть, налить немного масла и выложить мясо. Обжарить мясо до готовности, посолить и поперчить. </p>
<p> 7. Переложить обжаренное мясо к соусу, перемешать и тушить еще 2-3 минуты на слабом огне. Блюдо готово! </p> -->
</main>
{% endblock %}

